/* /app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap');

body {
  @apply font-body text-black;
}

/* Loader Styles */
.loader {
  @apply border-8 border-t-primary border-r-secondary border-gray-200 rounded-full w-16 h-16;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
